
body {
    background-color: var(--primary-bg);
    font-family: var(--font-primary);
}



/* --- Work In Progress Page Styles --- */
.wip-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: calc(100dvh - 10dvh); /* Adjust 80px based on your navbar height */
    padding: 2rem;
}

.wip-content {
    max-width: 600px;
}

.wip-image {
    width: 100%;
    max-width: 450px;
    height: auto;
    margin-bottom: 2rem;
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-default);
}

.wip-text {
    font-family: var(--font-handwriting);
    font-size: 3rem;
    color: var(--text-secondary);
    margin-bottom: 0.5rem;
}

.wip-subtext {
    font-family: var(--font-primary);
    font-size: 1.2rem;
    color: var(--text-dark-alt);
}

@media (max-width: 768px) {
    .wip-text {
        font-size: 2.5rem;
    }
    .wip-subtext {
        font-size: 1rem;
    }
}
