

.footer-container {
 background-color: var(--primary-bg);
 color: var(--text-secondary);
 padding: 1rem 4rem 1rem;
 font-family: var(--font-primary);

}

.footer-content {
 display: grid;
  /* MODIFIED: Adjusted minmax for better fitting of 4 columns */
 grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
 gap: 2rem; /* Reduced gap slightly */
 max-width: 1200px;
 margin: 0 auto;
 padding: 3rem 1rem 1rem 1rem ;
 border-top: 1px solid var(--text-secondary);

}

.footer-section h3 {
 font-family: var(--font-primary);
 color: var(--text-secondary);
 font-size: 1.5rem;
 font-weight: 400;
 margin-bottom: 0.5rem;

}

.footer-section.about p {
 line-height: 1.7;
 color: var(--text-secondary);
 padding: 0rem;
}

.footer-section ul{
  list-style: none;
}

.footer-section.links ul li,
.footer-section.contact ul li,
.footer-section.certifications ul li { 
 margin-bottom: 0.5rem;
}

.footer-section.links a,.footer-section.contact a{
 color: var(--text-secondary);
 text-decoration: none;
 transition: color 0.3s ease, padding-left 0.3s ease;
}

.footer-section.certifications li {
  color: var(--text-secondary);
  font-size: 1rem;
}

.footer-section.links a:hover,.footer-section.contact a:hover {
 color: var(--accent-green);
 padding-left: 5px;
}




.footer-bottom {
 text-align: center;
 padding-top: 2rem; /* Increased padding */
 margin-top: 2rem; /* Added margin */
 border-top: 1px solid var(--text-secondary);
 color: #aaa;
 font-size: 0.9rem;
}


@media (max-width: 400px) {
 .footer-container {
  padding: 1rem;
 }
 .footer-content {
  gap: 2rem;
 }
}
