/* merriweather-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/merriweather-v32-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v23-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v23-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v23-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playwrite-hu-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playwrite HU';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/playwrite-hu-v5-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sacramento';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/sacramento-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  /* Color Variables */
  --primary-bg: #ECF5EE;
  --gradient-start: #1D2A2D;
  --gradient-mid: #22383B;
  --gradient-end: #1C3437;
  --text-primary: #E0E7E9;
  --text-secondary: #1A2B3C;
  --text-dark: #333;
  --text-dark-alt: #333333;
  --accent-green: #9AE6B4;
  --accent-red: #FF6B6B;
  --accent-dark-green: #8CCF9D;
  --button-primary: #1A2B3C;
  --shadow-color: #222;
  --white: white;
  --card-bg: #f1f5f9;
  --image-gradient-start: #E0D8D0;
  --image-gradient-mid: #C8C4BE;
  --image-gradient-end: #B0B5AD;
  
  /* Font Variables */
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Segoe UI', sans-serif;
  --font-handwriting: 'Playwrite HU', sans-serif;
  --font-roboto: 'Poppins', roboto;
  --font-hero-title:'Merriweather','poppins';
  /* Size Variables */
  --border-radius-xsm: 10px;
  --border-radius-sm: 20px;
  --border-radius-md: 30px;
  --border-radius-lg: 40px;
  --shadow-default: 0 6px 12px -7px var(--shadow-color);
  --shadow-card: -15px 15px 15px -2px rgba(0, 0, 0, 0.3);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background:   linear-gradient(
      to bottom,
      #1B2B2E,
      #1E3134
    );
  
 
}
/* background: linear-gradient(to bottom right, #f5d4c3, #a9d7c4, #d4e8d3); */